main.gallery {
  padding: 2rem;
}

.gallery>h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333333;
  font-weight: 100;
  
}

.gallery>ul>li {
  list-style: none;
}

.gallery>.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: repeat(14, 400px);
  
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding-left: 0;
}

.gallery>.gallery__list>li>figure {
  height: 100%;
}

.gallery>.gallery__list>li>figure>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all .5s ease;

  &:hover{
    transform: scale(1.1);
    
  }

}