@import "../abstracts/variables";
@import "../abstracts/mixins";

.landingPage {
  height: 100vh;
  max-width: 95vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .containerBlurHome {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 30vw;
    text-align: center;
    background-color: #ffffff;
    @include backlight(0, 0, 5vw, 2, #9fbe6d, #4f6854, 8s);
  }

  .containerLandingPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000;

    &_left {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      &_img {
        height: 100%;
        width: 100%;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        // background: url("../../assets/tree3.jpg") center center/cover no-repeat;
      }
    }

    &_right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: normal;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f1c8121e;
        z-index: -1;
      }

      h2 {
        font-size: 6.2rem;
        color: $color-secondary-dark;

        span {
          color: $color-secondary-light;
        }
      }

      h5 {
        font-size: 2.6rem;
        padding: 2rem 6rem;
        color: $color-primary;
      }

      a {
        font-size: 1.3rem;
        letter-spacing: 2px;
        padding: 10px 80px;
        color: #fff;
        background-color: $color-secondary-light;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;
      }

      .btn {
        text-decoration: none;
        position: relative;
        overflow: hidden;
      }

      .btn:hover {
        box-shadow: 1px 1px 25px 10px $color-primary;
      }

      .btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg,
            transparent,
            $color-primary,
            transparent);
        transition: all 750ms;
      }

      .btn:hover:before {
        left: 100%;
      }
    }
  }
}

// ---------------------------

.landingImages {
  width: 70rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 2rem auto;

  .img1 {
    width: 20rem;
    height: 15rem;
  }
}

.landingInfo {
  display: flex;
  height: 40rem;
  padding: 5rem;

  &__slogan {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 3rem;
      color: #fff;
    }
  }

  &__desc {
    width: 50%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: $color-primary;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.homeProducts {
  text-align: center;
  max-width: 95vw;
  margin: 5rem auto;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
  background: url("../../assets/productBg2.png") center center/cover no-repeat;
  position: relative;
  z-index: 100;
  a {
    text-decoration: none;
  }
  .flex_products {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
    z-index: -1;
  }
  h3 {
    font-size: 2rem;
    padding-top: 2rem;
    position: relative;
    z-index: 100;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
  }
  h5 {
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-primary;
    border: 1.5px solid $color-primary;
    border-radius: 20px;
    transition: all 1s;
    margin-bottom: 3rem;
  }


  .hvr_img {

    img {
      margin: 1rem;
      padding: 5px;
      background-color: rgba(236, 236, 236, 0.795);
      border-radius: 200px;
      transition: all 1s;
      position: relative;
      z-index: 0;
     
    }
  }
  .hvr_img:hover {
    h5 {
      color: $color-primary;
      background-color: #fff;
    }
    img {
      background-color: rgba(255, 255, 255, 0.301);
    }
  }
}

.landingChoose {
  display: flex;
  max-width: 95vw;
  margin: 0 auto;
  height: 50rem;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  background-color: $color-secondary-light;

  &__button {
    color: $color-black;
    padding: 1rem 3rem;
    background-color: $color-white;
    border: 5px solid black;
    border-radius: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.4s ease-in;
  }

  &__button:hover {
    background-color: $color-black;
    color: $color-white;
  }

  &__texts {
    width: 50%;
    height: 70%;
    max-height: fit-content;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.5rem;
  }

  .services {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2rem;

    &__heading {
      display: flex;
      flex-direction: row;

      p {
        margin-right: 1rem;
      }
    }
  }

  &__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .img1 {
      width: 70%;
      height: 60%;
    }
  }
}

.partners {
}

.comments {
  max-width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
  }

  &__slider {
    height: 90%;
    margin-bottom: 4rem;
    justify-content: center;

    .img1 {
      margin-top: 1rem;
      width: 70%;
      height: 80%;
    }
  }
}