@import '../abstracts//variables';

.landingPage {
    height: 88vh;
    max-width: 98vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &_left{
        width: 60%;
        height: 100%;
        background: url('../../assets/landingImg.jpg') left center  no-repeat;
        border-right: 5px solid #fff;
        position: relative;
        &::after{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            opacity: .3;
            z-index: 0;
        }
        &_img{
            height: 100%;
            max-width: 50%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            z-index: 100;
        }
    }
    &_right{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        color: #fff;
        background: url('../../assets/landingImg.jpg') right center  no-repeat;
        position: relative;

        &::after{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            opacity: .7;
        }
        &_content{
            position: relative;
            z-index: 100;
            p{
                margin-top: 2rem;
                margin-bottom: 4rem ;
            }
            a{
                cursor: pointer;
                text-decoration: none;
                font-size: 2rem;
                color: #fff;
                margin-top: 2rem;
                padding: .5rem 3.5rem;
                background-color: #d0b564;
                border-radius: 100px;
                transition: all 1s ;
                &:hover{
                    color: #000;
                    background-color: #d0b56489;
                }
            }
        }
        
        
    }
    
    

   

    

}



.landingImages {
    width: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 2rem auto;

    .img1 {
        width: 20rem;
        height: 15rem;
    }
}

.landingInfo {
    display: flex;
    height: 40rem;
    padding: 5rem;

    &__slogan {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3 {
            font-size: 3rem;
        }
    }

    &__desc {
        width: 50%;
        padding: 1rem;
        background-color: $color-secondary-light;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

.landingChoose {
    display: flex;
    max-width: 95vw;
    margin: 0 auto;
    height: 50rem;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    background-color: $color-secondary-light;

    &__button {
        color: $color-black;
        padding: 1rem 3rem;
        background-color: $color-white;
        border: 5px solid black;
        border-radius: 2rem;
        font-size: 1.5rem;
        text-decoration: none;
        transition: .4s ease-in;
    }

    &__button:hover {
        background-color: $color-black;
        color: $color-white;
    }

    &__texts {
        width: 50%;
        height: 70%;
        max-height: fit-content;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2.5rem;
    }


    .services {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 2rem;

        &__heading {
            display: flex;
            flex-direction: row;

            p {
                margin-right: 1rem;
            }
        }
    }

    &__image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .img1 {
            width: 70%;
            height: 60%;
        }
    }
}

.comments {
    height: 70vh;
    max-width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__header{
        text-align: center;
    }
    

    &__slider {
        height: 90%;
        justify-content: center;
        .img1 {
            margin-top: 1rem;
            width: 70%;
            height: 80%;
        }
    }

}