@import "../abstracts/variables";
.container {
  text-align: center;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  background: url("../../assets/products.jpg") top -40px center/cover no-repeat;
  margin: 2.4rem auto;
  border-radius: 10px;
  position: relative;
  z-index: 100;
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
    border-radius: 10px;
  }

  h2 {
    font-size: 4rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 100;
  }
}
.parent {
  text-align: center;
  max-width: 95vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(100px, 1fr);
  gap: 50px;
  margin-top: 5rem;
  background: url("../../assets/products.jpg") bottom center/cover no-repeat;
  position: relative;
  z-index: 100;
  a {
    text-decoration: none;
  }
  .flex_products {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.58;
    z-index: -1;
  }
  h3 {
    font-size: 2rem;
    padding-top: 2rem;
    position: relative;
    z-index: 100;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
  }
  h5 {
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-primary;
    border: 1.5px solid $color-primary;
    border-radius: 20px;
    transition: all 1s;
    margin-bottom: 3rem;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .mg_2 {
    margin-top: 2rem;
  }
  .hvr_img {
    img {
      margin: 1rem;
      padding: 5px;
      background-color: rgba(236, 236, 236, 0.795);
      border-radius: 200px;
      transition: all 1s;
    }
  }
  .hvr_img:hover {
    h5 {
      color: $color-primary;
      background-color: #fff;
    }
    img {
      background-color: rgba(255, 255, 255, 0.301);
    }
  }
}
