.container-carousel2 {
    z-index: 0;
  }

  // .carousel-indicators{
  //   visibility: hidden;
  // }
  .d-block1 {
    height: 100vh;
    width: 100%;
    margin: auto;
    background: url("../../assets/photo15.jpeg") center center/cover no-repeat;
  }
  .d-block2 {
    height: 100vh;
    width: 100%;
    margin: auto;
    background: url("../../assets/photo40.jpeg") center center/cover no-repeat;
  }
  .d-block3 {
    height: 100vh;
    width: 100%;
    margin: auto;
    background: url("../../assets/photo5.jpeg") center center/cover no-repeat;
  }
  .d-block4 {
    height: 100vh;
    width: 100%;
    margin: auto;
    background: url("../../assets/photo25.jpeg") center center/cover no-repeat;
  }
  
  // .carousel-control-prev, .carousel-control-next{
  //   visibility: hidden;
  // }